<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Customer View</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col bg-dark-subtle">
            <h1 class="display-6">Orders</h1>
        </div>
    </div>
    <div class="row text-left">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr><th>Store</th><th>Order Status</th></tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr><td>{{ order.FACTORY.NAME }}</td>
                        <td><script>
                            var ws = new WebSocket("ws://localhost:8000/customer_ws");
                            ws.onmessage = function(event) {
                                var order = document.getElementById('{{ order.ID }}')
                                var span = document.createElement('span')
                                var content = document.createTextNode(event.data.STATUS)
                                span.appendChild(content)
                                order.appendChild(span)
                            };
                        </script><span id='{{ order.ID }}'></span></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>